In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Data Sets\winequality_red.csv")

In [3]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [8]:
x=df.drop('quality',axis=1) # Select the input columns
y=df['quality']  # select the output coluns

In [7]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [12]:
from sklearn.feature_selection import VarianceThreshold
vt=VarianceThreshold(threshold=0)
# Make sure before fitting the dataframe , do nnot include output column
X=df.drop('quality',axis=1)
#X it self a data frame
vt.fit(X)
vt.variances_
vt.get_support()
cols=vt.get_feature_names_out()
X[cols]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

$ Method-2 $

## Infromation gain

mutual info classify

- It is a value estimating how much relationship/how much information about target variable

- We dont want relation between input features

- We want relation between input and output feature

- 0 means both variables are independent

- Here will use entropy or KNN method based on joint probability

In [18]:
from sklearn.feature_selection import mutual_info_classif
MI=mutual_info_classif(X,y)

In [19]:
MI

array([0.05603815, 0.11277358, 0.08421241, 0.021646  , 0.05529132,
       0.02950186, 0.07517206, 0.09714062, 0.01271707, 0.0973976 ,
       0.18193306])

In [26]:
d=pd.DataFrame(MI,index=X.columns,columns=['Mutual_info_classif'])

In [32]:
sorted_data=d.sort_values(by='Mutual_info_classif',ascending=False)
sorted_data

                      Mutual_info_classif
alcohol                          0.181933
volatile acidity                 0.112774
sulphates                        0.097398
density                          0.097141
citric acid                      0.084212
total sulfur dioxide             0.075172
fixed acidity                    0.056038
chlorides                        0.055291
free sulfur dioxide              0.029502
residual sugar                   0.021646
pH                               0.012717

In [36]:
con=sorted_data['Mutual_info_classif']>0.10
cols=sorted_data

In [38]:
d=pd.DataFrame(MI,
              columns=['Information gain'],
              index=X.columns)
sorted_d=d.sort_values('Information gain',
                      ascending=False)
df[sorted_d.index[:5]]

      alcohol  volatile acidity  sulphates  density  citric acid
0         9.4             0.700       0.56  0.99780         0.00
1         9.8             0.880       0.68  0.99680         0.00
2         9.8             0.760       0.65  0.99700         0.04
3         9.8             0.280       0.58  0.99800         0.56
4         9.4             0.700       0.56  0.99780         0.00
...       ...               ...        ...      ...          ...
1594     10.5             0.600       0.58  0.99490         0.08
1595     11.2             0.550       0.76  0.99512         0.10
1596     11.0             0.510       0.75  0.99574         0.13
1597     10.2             0.645       0.71  0.99547         0.12
1598     11.0             0.310       0.66  0.99549         0.47

[1599 rows x 5 columns]

## Select k best

- SelectKBest will select the top k columns based on Mutual Information with target columns

- It will take two values

    - Mutual_info_classify
 
    - How many top columns we want to select k=hyper parameter
 
- Any feature apply MutualInfoClassify

- If we want to find cat-cat relation the use scoring funstuin as chi1

- If we want to find num-cat realtion then use scoring function as :ANOVA f-test

In [40]:
from sklearn.feature_selection import SelectKBest,mutual_info_classif,chi2,f_classif
import pandas as pd


top_5=SelectKBest(mutual_info_classif,k=5)
val=top_5.fit(X,y)


#SelectKBest(socre_func=chi2,k5)
#SeletKBest)score_func=f_classif,k5)